pandas==2.1.1
numpy==1.26.0
psycopg2-binary==2.9.9
pyyaml==6.0.1
chardet==5.2.0
sqlalchemy==2.0.21 
#openpyxl==3.1.2  # Para trabajar con archivos Excel (XLSX)
#python-dotenv==1.0.0  # Para manejar variables de entorno


